<!-- footer.component.html -->

<footer class="bg-[#032541] text-white py-16 px-5">
  <div
    class="max-w-7xl mx-auto flex flex-wrap justify-center items-start gap-16"
  >

    <!-- Left Side -->
    <div class="flex flex-col items-center gap-6">
      <img
        src="images/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg"
        alt="TMDB Logo"
        class="w-44"
      />

      <button
        class="bg-white text-[#01B4E4] font-bold text-2xl px-6 py-3 rounded-md hover:scale-105 duration-300"
      >
        Join the Community
      </button>
    </div>

    <!-- Links -->
    <div class="flex flex-wrap gap-14">

      <!-- Column -->
      <div class="flex flex-col gap-2">
        <h3 class="text-2xl font-bold mb-2">THE BASICS</h3>

        <a href="#" class=" hover:text-[#01B4E4] duration-300">
          About TMDB
        </a>

        <a href="#" class="hover:text-[#01B4E4] duration-300">
          Contact Us
        </a>

        <a href="#" class="hover:text-[#01B4E4] duration-300">
          API Documentation
        </a>

        <a href="#" class="hover:text-[#01B4E4] duration-300">
          API for Business
        </a>

        <a href="#" class="hover:text-[#01B4E4] duration-300">
          System Status
        </a>
      </div>

      <!-- Column -->
      <div class="flex flex-col gap-2">
        <h3 class="text-2xl font-bold mb-2">GET INVOLVED</h3>

        <a href="#" class="hover:text-[#01B4E4] duration-300">
          Contribution Bible
        </a>

        <a href="#" class="hover:text-[#01B4E4] duration-300">
          Add New Movie
        </a>

        <a href="#" class="hover:text-[#01B4E4] duration-300">
          Add New TV Show
        </a>
      </div>

      <!-- Column -->
      <div class="flex flex-col gap-2">
        <h3 class="text-2xl font-bold mb-2">COMMUNITY</h3>

        <a href="#" class="hover:text-[#01B4E4] duration-300">
          Guidelines
        </a>

        <a href="#" class="hover:text-[#01B4E4] duration-300">
          Discussions
        </a>

        <a href="#" class="hover:text-[#01B4E4] duration-300">
          Leaderboard
        </a>

        <a href="#" class="hover:text-[#01B4E4] duration-300">
          Support Forums
        </a>
      </div>

      <!-- Column -->
      <div class="flex flex-col gap-2">
        <h3 class="text-2xl font-bold mb-2">LEGAL</h3>

        <a href="#" class="hover:text-[#01B4E4] duration-300">
          Terms of Use
        </a>

        <a href="#" class="hover:text-[#01B4E4] duration-300">
          API Terms of Use
        </a>

        <a href="#" class="hover:text-[#01B4E4] duration-300">
          Privacy Policy
        </a>

        <a href="#" class="hover:text-[#01B4E4] duration-300">
          DMCA Policy
        </a>
      </div>

    </div>
  </div>
</footer>
