<nav class="bg-neutral-primary fixed w-full z-19999 top-0 inset-s-0 border-b border-default">
  <div class="max-w-8xl flex flex-wrap items-center justify-between mx-auto p-2 md:p-4">
    <a class="flex items-center space-x-3 rtl:space-x-reverse md:hidden">
      <img
        src="images/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg"
        class="h-7"
        alt="Movie Logo"
      />
    </a>
    <a class="items-center space-x-3 rtl:space-x-reverse md:flex hidden">
      <img
        src="images/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg"
        class="h-7"
        alt="Movie Logo"
      />
    </a>

    <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <button
        type="button"
        class="flex text-sm bg-neutral-primary rounded-full md:me-0 focus:ring-4 focus:ring-neutral-tertiary"
        id="user-menu-button"
        aria-expanded="false"
        data-dropdown-toggle="user-dropdown"
        data-dropdown-placement="bottom"
      >
        <span class="sr-only">Open user menu</span>
        <img
          class="w-7 h-7 rounded-full"
          src="images/user-icon-profile-icon-account-icon-login-sign-line-vector.jpg"
          alt="user photo"
        />
      </button>
      <!-- Dropdown menu -->
      <div
        class="z-50 hidden bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-44"
        id="user-dropdown"
      >
        <div class="px-4 py-3 text-sm border-b border-default">
          <span class="block text-heading font-medium">Joseph McFall</span>
          <span class="block text-body truncate">name@flowbite.com</span>
        </div>
        <ul class="p-2 text-sm text-body font-medium" aria-labelledby="user-menu-button">
          <li>
            <a
              href="#"
              class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
              >Dashboard</a
            >
          </li>
          <li>
            <a
              href="#"
              class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
              >Settings</a
            >
          </li>
          <li>
            <a
              href="#"
              class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
              >Earnings</a
            >
          </li>
          <li>
            <a
              href="#"
              class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
              >Sign out</a
            >
          </li>
        </ul>
      </div>
      <button
        data-collapse-toggle="navbar-user"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary"
        aria-controls="navbar-user"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-6 h-6"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-width="2"
            d="M5 7h14M5 12h14M5 17h14"
          />
        </svg>
      </button>
    </div>

    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-user"
    >
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-default rounded-base bg-neutral-secondary-soft md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-neutral-primary"
      >
        <li>
          <button
            id="multiLevelDropdownButton"
            data-dropdown-toggle="multi-dropdown4"
            class="flex items-center justify-between w-full py-2 px-3 rounded font-medium text-heading md:w-auto hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0"
          >
            Movies
          </button>
          <!-- Dropdown menu -->
          <div
            id="multi-dropdown4"
            class="z-10 hidden bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-44"
          >
            <ul
              class="p-2 text-sm text-body font-medium"
              aria-labelledby="multiLevelDropdownButton"
            >
              <li>
                <a
                  href="#"
                  class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
                  >Popular</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
                  >Now Playing</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
                  >Upcoming</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li>
          <button
            id="multiLevelDropdownButton"
            data-dropdown-toggle="multi-dropdown2"
            class="flex items-center justify-between w-full py-2 px-3 rounded font-medium text-heading md:w-auto hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0"
          >
            TV Shows
          </button>
          <!-- Dropdown menu -->
          <div
            id="multi-dropdown2"
            class="z-10 hidden bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-44"
          >
            <ul
              class="p-2 text-sm text-body font-medium"
              aria-labelledby="multiLevelDropdownButton"
            >
              <li>
                <a
                  href="#"
                  class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
                  >Popular</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
                  >Airing today</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
                  >On Tv</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li>
          <button
            id="multiLevelDropdownButton"
            data-dropdown-toggle="multi-dropdown1"
            class="flex items-center justify-between w-full py-2 px-3 rounded font-medium text-heading md:w-auto hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0"
          >
            People
          </button>
          <!-- Dropdown menu -->
          <div
            id="multi-dropdown1"
            class="z-10 hidden bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-44"
          >
            <ul
              class="p-2 text-sm text-body font-medium"
              aria-labelledby="multiLevelDropdownButton"
            >
              <li>
                <a
                routerLink="/pupularPeople"
                routerLinkActive="dg-active"
                  class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
                  >popular</a
                >
              </li>

            </ul>
          </div>
        </li>
        <li>
          <button
            id="multiLevelDropdownButton"
            data-dropdown-toggle="multi-dropdown5"
            class="flex items-center justify-between w-full py-2 px-3 rounded font-medium text-heading md:w-auto hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0"
          >
            Awards
          </button>
          <!-- Dropdown menu -->
          <div
            id="multi-dropdown5"
            class="z-10 hidden bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-44"
          >
            <ul
              class="p-2 text-sm text-body font-medium"
              aria-labelledby="multiLevelDropdownButton"
            >
              <li>
                <a
                  href="#"
                  class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
                  >popular</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
                  >Upcoming</a
                >
              </li>

            </ul>
          </div>
        </li>
        <li>
          <button
            id="multiLevelDropdownButton"
            data-dropdown-toggle="multi-dropdown"
            class="flex items-center justify-between w-full py-2 px-3 rounded font-medium text-heading md:w-auto hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0"
          >
            More
          </button>
          <!-- Dropdown menu -->
          <div
            id="multi-dropdown"
            class="z-10 hidden bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-44"
          >
            <ul
              class="p-2 text-sm text-body font-medium"
              aria-labelledby="multiLevelDropdownButton"
            >
              <li>
                <a
                  href="#"
                  class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
                  >Dashboard</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
                  >Leaderboard</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
                  >Support</a
                >
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
