/* styles.css */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Card Animation */
@keyframes fadeIn {

  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn .6s ease;
}

/* Dropdown Animation */
@keyframes dropdown {

  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-dropdown {
  animation: dropdown .3s ease;
}

.bg-line::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../../../../../../public/images/trending-bg-39afc2a5f77e31d469b25c187814c0a2efef225494c038098d62317d923f8415.svg);
    background-position: 50% 200px;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: 0;
}
/* Optional Better Scrollbar */
::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 999px;
}


